// CRBS theme mixin

@mixin crbs-theme($name: "default", $colour: $primary-color) {

	$theme-bg: mix($bg-color, $colour, 98%);

	.theme-#{$name} {

		.content {
			// background-color: $content-bg;
		}

		.header {
			background-color: $theme-bg;
			.btn-link.active {
				background-color: mix($colour, $light-color, 15%);
				// @include chunky-underline(mix($colour, $light-color, 25%), false, 20%, 10%);
			}
		}


		.header-menu {
			.btn-link.active {
				border-bottom-color: $colour;
			}
		}


	}

}
