
.bookings {

	.bookings-grid {

		.grid-row {
			display: flex;
			// justify-content: space-between;
			// margin: $unit-1 0;
		}

		.grid-item {
			// background: $gray-color-light;
			// border: $unit-o solid $border-color;
			flex: 1;
			position: relative;
			// margin: $unit-1;
			padding: $unit-2;
			border: 0;
			border-bottom: $unit-o solid $border-color;
			border-right: $unit-o solid $border-color;
			// background: $gray-color-light;
			// width: 33%;
			// line-height: 1;
			&:last-child {
				border-right: 0;
			}
		}

		.grid-item-header-title {
			display: block;
			// font-weight: normal;
			// font-weight: 600;
			color: $dark-color;
			font-size: $font-size-sm;
		}

		.grid-item-header-subtitle {
			display: block;
			// font-weight: 600;
			color: $dark-color;
			font-size: $font-size-xs;
			color: $gray-color;
			font-weight: bold;
		}

		.grid-item-header {
			font-weight: 600;
			line-height: $line-height*0.75;
		}

		.header-x {
			padding-top: 0;
		}

		.header-y {
			// padding-left: 0;
			// text-align: right;
		}

		.grid-item-corner {
			background: none;
		}

	}

	.grid-item-cell {

		.form-checkbox {
			display: inline-block;
			margin: 0;
			padding-right: 0;
			padding-left: $control-icon-size;
			padding-top: 0;
			padding-bottom: 0;
		}

	}

	.grid-range-week {
		.grid-item-cell {
			background: $gray-color-light;
		}
	}

	.grid-range-day {

		.grid-item-cell {

			position: relative;
			flex-direction: column;
			min-height: $control-size * 1.5;
			vertical-align: top;
			color: $gray-color-dark;
			background: $gray-color-light;
			// border: $unit-o solid $gray-color-light;
			text-align: left;
			text-decoration: none;
			// border-width: initial
			// border-width: $unit-o;
			appearance: none;
			// border-left-width: $unit-2;
			// outline: $unit-o solid $border-color;

			.booking-info {
				text-decoration: none;
				font-size: $font-size-xs;
				line-height: $line-height * 0.75;
			}

			.booking-name {
				display: block;
				font-weight: normal;
				color: $gray-color-dark;
			}

			.booking-notes {
				font-weight: 600;
				color: $gray-color-dark;
				display: block;
			}

			&:hover,
			&:focus {
				// position: relative;
				// border-color: $clrs-yellow;
				// outline: $unit-h solid $clrs-yellow;
				// z-index: $zindex-3;
				&:after {
					content: "";
					position: absolute;
					width: 100%;
					top: 0;
					left: 0;
					bottom: 0;
					outline: $unit-h solid $clrs-yellow;
					border: $unit-o solid $clrs-yellow;
					z-index: $zindex-3;

				}
			}

			&.is-free {
				display: flex;
				background: transparent;
				position: relative;

				.input {
					clip: rect(0, 0, 0, 0);
					height: 1px;
					margin: -1px;
					overflow: hidden;
					position: absolute;
					width: 1px;
				}

				.overlay {
					display: none;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: transparent;
					background: $gray-color-light;
					outline: $unit-h solid $clrs-yellow;
					border: $unit-o solid $clrs-yellow;
				}

				.feather {
					display: none;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%) scale(1);
					width: $unit-6;
					height: $unit-6;
					color: $clrs-blue;
				}

				&.is-selected .feather,
				input:checked ~ .feather {
					display: block;
				}

				input:focus ~ .overlay {
					display: block;
				}

				// .overlay {
				// 	// display: none;
				// 	background: #ccc;
				// 	width: 100%;
				// 	height: 100%;
				// 	text-align: center;
				// 	position: relative;
				// }
			}


			&.booked-recurring {
				.marker {
					position: absolute;
					top: $unit-1;
					right: $unit-1;
					width: $unit-3;
					height: $unit-3;
					.feather {
						vertical-align: top;
						width: 100%;
						height: 100%;
						stroke-width: 0;
						fill: $clrs-orange;
					}
				}
			}

			&.booked-static {
				.marker {
					position: absolute;
					top: $unit-1;
					right: $unit-1;
					width: $unit-3;
					height: $unit-3;
					.feather {
						vertical-align: top;
						width: 100%;
						height: 100%;
						stroke-width: 0;
						fill: $clrs-blue;
					}
				}
			}
/*
			.marker {
				position: absolute;
				top: 0;
				right: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 20px 20px 0;
				border-color: transparent #007bff transparent transparent;
			}

			&.booked-recurring {
				.marker {
					border-right-color: mix($clrs-orange, $gray-color-light, 85%);
				}
			}
			&.booked-static {
				.marker {
					border-right-color: mix($clrs-blue, $gray-color-light, 85%);
				}
			} */
		}

	}


	.cards-container {

		.card-item {
		}

		.card {
			cursor: auto;
			display: none;
			// left: 50%;
			opacity: 0;
			padding: 0;	// $unit-3;
			margin: 0 $unit-3;
			position: absolute;
			// top: 0;
			width: $control-width-sm;
			z-index: $zindex-3;
			top: 50%;
			transform: translate(0, -50%) scale(1);
			@include shadow-variant(.2rem);
    		border: 0;

			&.active {
				display: block;
				opacity: 1;
			}

			&.card-booking-add-multi {
				left: 50%;
				transform: translate(-50%, -50%) scale(1);
			}

			&.card-booking-static {
				border-top: $unit-1 solid mix($clrs-blue, $gray-color-light, 85%);
			}

			&.card-booking-recurring {
				border-top: $unit-1 solid mix($clrs-orange, $gray-color-light, 85%);
			}

    		.divider {
    			border-color: $border-color;
    		}

    		p {
    			font-size: $font-size-sm;
    		}

			.dropdown .menu {
				font-size: $font-size-sm;
			}

			.card-footer {
				margin-top: $layout-spacing-lg;
				padding-top: $unit-6;
				padding-bottom: $unit-6;
				border-top: $unit-o solid $border-color;
				background: $gray-color-light;
			}

		}
	}

	.form-switch-multi-select {
		display: inline-block;
		font-size: $font-size-sm;
	}

/*
	.card-container {

		cursor: auto;
		display: none;
		left: 50%;
		opacity: 0;
		padding: 0 $layout-spacing;
		position: absolute;
		top: 0;
		width: $control-width-sm;
		z-index: $zindex-3;

		&.pos-right {
			left: 100%;
			top: 50%;
			transform: translate(0, -50%) scale(1);
		}

		&.pos-left {
			left: 0;
			top: 50%;
			transform: translate(-100%, -50%) scale(1);
		}

		&.active {
			display: block;
			opacity: 1;
			outline: 0;
		}

		.card {
			@include shadow-variant(.2rem);
    		border: 0;
		}

		.menu {
			font-size: $font-size-sm;
		}
	} */

}
