
.calendar {


	.calendar-header,
	.calendar-body {
		padding: $unit-1 0;
	}

	.badge[data-badge]::after,
	.badge:not([data-badge])::after {
		background: $dark-color;
	}

	.calendar-date {
		.date-item {
			display: inline-block;
			&:focus {
				background: inherit;
				// border-width: 0;
				border-color: transparent;
				box-shadow: none;
				color: inherit;
			}

			&:hover {
				background: $dark-color;
				border-color: $gray-color-dark;
				color: $light-color;
				text-decoration: none;
			}

			&.date-item-active {
				background: $dark-color !important;
				border-color: $gray-color-dark !important;
				color: $light-color !important;
			}

		}
	}

	&.calendar-picker {
		background: #fff;
		.calendar-nav {
			padding: $unit-1;
			.btn {
				flex: none;
			}
		}
	}

	&.calendar-academic-year {

		margin-bottom: $layout-spacing * 2;

		.calendar-nav {
			padding: $unit-3 0;
			display: block;
			text-align: center;
		}

	}



}
