.chip {

	&.chip-info {
		.feather {
			width: 16px;
			height: 16px;
			margin-right: $unit-1;
		}
	}

	&.chip-no-bg {
		background: transparent;
		padding-left: 0;
		padding-right: 0;
	}

	&.user-status-active {
		.feather {
			color: $clrs-olive;
		}
	}

	&.user-status-inactive {
		.feather {
			color: $clrs-red;
		}
	}

	&.chip-status-positive {
		.feather {
			color: $clrs-olive;
		}
	}

	&.chip-status-negative {
		.feather {
			color: $clrs-red;
		}
	}

}
