.empty {

	border: $unit-o solid $border-color;
	background: $gray-color-light;

	&.empty-danger {
		.feather {
			color: $error-color;
		}
		// background: mix($error-color, $gray-color-light, 5%);
		border-color: $error-color;
	}

	&.empty-warning {
		.feather {
			color: $warning-color;
		}
		border-color: $warning-color;
	}

}

