.empty {

	border: 1px solid $border-color;
	background: $light-color;

	&.empty-danger {
		.feather {
			color: $error-color;
		}
		// background: mix($error-color, $gray-color-light, 5%);
		border-color: $error-color;
	}

}

