
.form-label {
	font-weight: 600;
}

.form-hint {
	color: darken($gray-color, 10%);
	font-size: $font-size-sm;
	display: block;
	line-height: $line-height;
	padding: 0 0 ($control-padding-y*2) + $border-width 0;
}

.form-input-hint {
	> p {
		margin-bottom: 0;
	}
}


/* .form-panel {
	background: $bg-color;
	padding: $unit-6;
}

.form-panel-title {
	color: $primary-color;
	margin-bottom: $unit-6;
	font-weight: 600;
} */



.form-checkbox-solo {
	padding-left: 0;
	padding-right: 0;
	width: $control-icon-size;
	margin-left: auto;
	margin-right: auto;
}


.input-password {
	font-family: $mono-font-family;
}


.form-horizontal {

	padding: 0;

	.form-hint {
		// margin-bottom: 0;
		padding-bottom: 0;
	}

	.form-group {
		margin-bottom: 0;
		+ .form-group {
			margin-top: $unit-4;
		}

		.form-select {
			width: 99%;
		}
	}

	.col-label {
		padding-right: $unit-4;
		text-align: right;
	}

}


.form-vertical {
	.form-label {
		color: $gray-color-dark;
	}
	.form-group {
		margin-bottom: 0;
		+ .form-group {
			margin-top: $unit-8;
		}

		&.has-error {
			border-left: $unit-1 solid $clrs-red;
			padding-left: $unit-4;
			padding-top: $unit-1;
			padding-bottom: $unit-1;
			.form-label {
				color: darken($clrs-red, 20%);
			}
		}
	}
}



.form-fieldset {
	margin: 0;
	padding: $layout-spacing-lg * 3 $layout-spacing-lg * 2;
	background: $bg-color-light;
	border: $border-width solid $border-color;
	border-radius: $border-radius;
	display: flex;
	flex-direction: column;

	+.form-fieldset {
		margin-top: -$border-width;
	}

	&.form-fieldset-actions {
		padding: $layout-spacing-lg*2;
	}
}

.form-legend {
	margin: $control-padding-y + $border-width 0 0 0;
	padding: 0;
	font-size: $font-size * 1.2;
	font-weight: normal;
	line-height: 1.2;
}

.form-legend-subtitle {
	margin-top: $unit-3;
	font-size: $font-size-sm;
	color: lighten($gray-color-dark, 10%);
}
