$header-image-height: $unit-10;

.header {

	margin: 0;
	padding: 0;
	background-color: $bg-color;
	color: $dark-color;

	.navbar-logos {
		padding: $unit-3 0;
	}

	.header-logo-crbs {
		display: inline-block;
		margin-right: $unit-6;
		// padding-top: $unit-2;
		// padding-bottom: $unit-2;
		height: $header-image-height + $unit-2 + $unit-2;
		width: $header-image-height;
		svg {
			display: block;
			// height: $header-image-height;
			// width: $header-image-height;
			width: 100%;
			height: 100%;
		}
	}


	.btn-link {
		padding: 0 $unit-4;
		line-height: $header-image-height + $unit-2 + $unit-2;
		height: $header-image-height + $unit-2 + $unit-2;
		color: inherit;
		margin: 0;
		.feather {
			display: none;
		}

		&.active {
			// color: $clrs-blue;
			// font-weight: 600;
			color: inherit;
			background: #ccc;
			// @include chunky-underline(mix($clrs-blue, $light-color, 25%), false, 20%, 10%);
		}
	}
}


/*
.header-menu {

	color: $dark-color;
	// border-top: 1px solid $border-color;

	.btn-link {
		margin-bottom: -2px;
		color: inherit;
		padding: $unit-3 $unit-1;
		height: auto;
		margin-left: 0;
		margin-right: 0;
		// font-size: $font-size * 1.1;
		font-size: $font-size-sm;
		border-radius: 0;
		border: 0;
		border-top: 3px solid transparent;
		border-bottom: 3px solid transparent;
		color: $gray-color-dark;
		&.active {
			border-bottom: 3px solid $primary-color;
		}
	}

	.header-menu-nav {
		.btn-link {
			margin-right: $unit-5;
		}
	}

	.header-menu-user {
		.btn-link {
			margin-left: $unit-5;
		}
	}
}

 */
