
body {
	background: $bg-color;	// darken($dark-color, 3%);
}

.font-mono {
	font-family: $mono-font-family;
}

.notice-wrapper {
	padding-top: $unit-6;
}

.not-set {
	color: $gray-color-dark;
}


.bread-wrapper {

	padding-top: $unit-2;

	.breadcrumb {
		padding: 0;
		margin: 0;
		font-size: $font-size-sm;
		color: $gray-color-dark;
	}

	.breadcrumb-item {
		a {
			color: inherit;
			text-decoration: underline;
		}
		&:not(:first-child) {
			&::before {
				content: "\203A";
				// padding-left: $unit-1;
			}
		}
		&:last-child {
			font-weight: 600;
			// color: $dark-color;
		}
	}

	.breadcrumb-item-title {
		font-weight: 600;
	}
}



.content {
	background: $light-color;
	// border-top: 1px solid $border-color;
}

.body {
	padding-top: $unit-12;
	padding-bottom: $unit-12;
}

.logo-login {
	float: right;
	max-height: 200px;
}




.columns-settings {
	.column {
		margin-bottom: $layout-spacing*2;
	}
}
