
.table-box {
	margin: 0;
	padding: 0;
	background: $bg-color-light;
	border-radius: $border-radius;
	display: flex;
	flex-direction: column;

	.table-box-header {
		border-bottom: 0;
		margin-bottom: $unit-4;
	}

	.table-box-title {
		font-size: $font-size;	// * 1.2;
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 0;
	}

	.table-box-subtitle {
		margin-top: $unit-2;
		font-size: $font-size-sm;
		color: lighten($gray-color-dark, 10%);
		margin-bottom: 0;
	}

	.table-box-table {

		font-size: $font-size-sm;

		th {
			font-weight: 600;
			color: $dark-color;
			background: $gray-color-light;
		}

		td, th {
			padding: $unit-4 $unit-2;
		}

		th:first-child,
		td:first-child {
			padding-left: $unit-4;
		}
		th:last-child,
		td:last-child {
			padding-right: $unit-4;
		}

		.table-title-cell {
			font-weight: 600;
		}
	}

	.table-box-pagination {
		padding: $unit-4 0;
	}

}
