
.toast {
	@include crbs-toast-variant($dark-color);
	padding: $unit-3;

	&.toast-error {
		@include crbs-toast-variant($clrs-red);
	}

	&.toast-info {
		@include crbs-toast-variant($clrs-blue);
	}

	&.toast-success {
		@include crbs-toast-variant($clrs-green);
	}

	&.toast-warning {
		@include crbs-toast-variant($clrs-yellow);
	}

	.feather {
		margin-right: $unit-3;
		width: $font-size*1.3;
		height: $font-size*1.3;
		vertical-align: -20%;
		display: inline-block;
		text-indent: -9999px;
		position: relative;
	}
}

.toast-hint {
	@include toast-variant($highlight-color);
	color: $dark-color;

}
