.toggle-check {
	display: none;
}

.toggle-content {
	display: none;
}

.toggle-check:checked ~ .toggle-content {
	display: block;
}


.toggle-check:checked ~ .menu {
	display: block;
}

.toggle-check:checked ~ .modal {
	display: flex;
	opacity: 1;
	z-index: $zindex-4;

	.modal-overlay {
		background: rgba($bg-color, .75);
		bottom: 0;
		cursor: default;
		display: block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.modal-container {
		// animation: slide-down .2s ease 1;
		z-index: $zindex-0;
	}
}
